.logo-text {
	color: white;
    margin: 0px;
    font-size: 29px;
}

.margin-left-150 {
	margin-left: 150px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-left-85 {
	margin-left: 85px;
}

.display-2 {
  font-size: 4.6rem;
  line-height: 1.143;
  letter-spacing: -0.05rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.display-3 {
  font-size: 4rem;
  line-height: 1.143;
  letter-spacing: -0.05rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.show {
  display: block;
}